@inherits System.Web.Mvc.WebViewPage<GCS.Models.Search.PaginationModel>

@if (Model != null) {
    <div class="gcs__pagination">
        @if (Model.PagingItems.Count >= 0) {
            <span class="gcs__pagination__title">Page</span>
        }
        @if (Model.AtFirstPage != true) {
            <a href="@Model.FirstItemUrl" class="gcs__pagination__btn gcs__pagination__first" data-page=""><<</a>
            <a href="@Model.PreviousPageUrl" class="gcs__pagination__btn  gcs__pagination__previous" data-page=""><</a>
        }
        @foreach (GCS.Models.Search.PagingItemModel pagingItem in Model.PagingRange) {
            <a href="@pagingItem.Url" class="gcs__pagination__btn @(pagingItem.Active ? "active" : "")" data-page="@pagingItem.PageNumber">@pagingItem.PageNumber</a>
        }
        @if (Model.AtLastPage != true) {
            <a href="@Model.NextPageurl" class="gcs__pagination__btn gcs__pagination__next" data-page="">></a>
            <a href="@Model.LastItemUrl" class="gcs__pagination__btn gcs__pagination__last" data-page="">>></a>
        }
    </div>
}