@inherits System.Web.Mvc.WebViewPage<W3S_GCS.Models.API.RootObject>

<section class="gcs__results">
    <div class="gcs__results__row">
        <div class="gcs__results__row__col">
            @if (Model != null && Model.items != null && Model.items.Count != 0) {
                <section class="gcs__results__list">
                    @foreach (W3S_GCS.Models.API.Item result in Model.items) {
                        <div class="gcs__result__row">
                            <div class="gcs__result__thumnail">
                                @if (!String.IsNullOrEmpty(result.GetImage)) {
                                    <div class="gcs__result__thumnail__image" style="background-image:url('@result.GetImage')"></div>
                                } else {
                                    <div class="gcs__result__thumnail__image"></div>
                                }
                            </div>
                            <div class="gcs__result">
                                <a href="@result.link" class="gcs__result__link" data-title="@result.title" data-fileformat="@result.fileFormat" target="_blank">
                                    <h2 class="gcs__result__title">@result.title</h2>
                                </a>
                                <p data-truncate="2" class="gcs__result__text">@Html.Raw(result.htmlSnippet)</p>
                                <p data-truncate="2" class="gcs__result__text__plain">@Html.Raw(result.snippet)</p>
                                <p href="@result.link" class="gcs__result__url">@result.link</p>
                            </div>
                        </div>
                    }
                </section>
            }
        </div>
    </div>
</section>